* {
    padding: 0px;
    margin: 0px;
}

h1 {
    color: white;
    font-size: 50px;
}

body {
    background-color: #212121;
}

#attack {
    color: white;
    font-size: 25px;
    display: none;
}

#set_tiles, #enemy_ready {
    color: white;
    font-size: 25px;
    display: block;
}

#garage {
    width: 500px;
    height: 500px;
    float: left;
    position: relative;
}

.limousine {
    height: 64px;
    border-style: solid;
    border-width: 2px;
    border-color: #212121;
    padding: 0;
    position: relative;
}

#board {
    border-style: solid;
    border-width: 3px;
    position: relative;
    width: 560px;
    height: 560px;
    margin: 0px;
    float: left;
}

#eBoard {
    border-style: solid;
    border-width: 3px;
    position: relative;
    width: 560px;
    height: 560px;
    margin: 0px;
    float: right;
}

#eBoard .tile {
    cursor: pointer;
}

.tile {
    border-style: solid;
    border-width: 3px;
    border-color: black;
    width: 64px;
    height: 64px;
    background-color: #424242;
    padding: 0px;
    float: left;
    position: relative;
    display: block;
}

#start, #menu{
    width: 500px;
    height: 125px;
    float: left;
    position: relative;
    background-color: #424242;
    text-align: center;
    line-height: 125px;
    color: white;
    display: block;
}

#menu {
    text-align: center;
}

#start h2:hover, #menu h2:hover{
    color: black;
    cursor: pointer;
    background-color: #595959;
}

#left {
    width: 500px;
    margin-right: 100px;
    float: left;
}

#boards {
    padding-right: 50px;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index:2;
    background-color: rgba(0,0,0,0.5);
}

#overlay p {
    font-size: 50px;
    text-align: center;
    color: white;
    padding: 100px;
}