p, a, h1, h2, h3 {
    font-size: 30px;
    text-align: center;
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

a {
    border-style: solid;
    padding: 10px;
    background-color: dimgrey;
    border-color: white;
}

body {
    background-color: #212121;
}