<!DOCTYPE html>
<html>

<head>
  <title>Magikarp</title>
</head>

<body>
<div>
  <div class="item1">
    <h1 align="middle">Battle Limousines</h1>
  </div>
  <div class="item2">
    <p>Start</p>
    <p>Help</p>
    <p align="right">Active games: x</p>
    <p align="right">Started games: y</p>
  </div>
  <div class="item5" align="middle">Animation</div>
</div>
</body>

</html>