<!DOCTYPE html>
<html>

<head>
	<title>Magikarp</title>
	<link rel="stylesheet" stype="text/css" href="stylesheets/splash.css"/>
</head>

<body>
	<div>
		<div class="item1">
			<h1 align="middle">Battle Limousines</h1>
		</div>
		<div class="item2">
			<h2>Start</h2>
			<h2>Help</h2>
			<h3 align="right">Started games:
				<%= gamesStarted %>
			</h3>
			<h3 align="right">Finished games:
				<%= gamesFinished %>
			</h3>
		</div>
		<div class="item5" align="middle">Animation</div>
	</div>
</body>

</html>