<!DOCTYPE html>
<html>

<head>
	<title>Magikarp</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/splash.css"/>
</head>

<body>
	<div>
		<div class="item1">
			<h1>Battle Limousines</h1>
		</div>
		<div class="item2">
			<h2><a href="play">Start</a></h2>
			<h2>Help</h2>
			<h3>Started games:
				<%= gamesStarted %>
			</h3>
			<h3>Finished games:
				<%= gamesFinished %>
			</h3>
		</div>
		<div class="item5" align="middle">Animation</div>
	</div>
</body>

</html>